@import 'variables.scss';
@import 'header.scss';

main {
    font-family: Graphic-regular;
    font-size: $paragraph-size;
    padding: 30px;

    .choosen-interval {
        text-align: center;
        margin: 0 auto 30px auto;
    }

    a {
        color: $text-color;
    }

    ul {
        list-style-image: url('../../Assets/logo-icon.svg')
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            padding: 8px 16px;
            border-radius: 5px;
            border-color: $border-color;

            &[type=submit] {
                background: $primary-color;
                color: $text-color;
                border-width: 1px;
                margin: 60px auto;

                &:hover {
                    background: lighten($primary-color, 10%);
                    cursor: pointer;
                }
            }
        }
    }
}
